
{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}Inicio{% endblock %} 
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'css/perfil_css.css' %}" type="text/css">	
{% endblock %}    
{% block perfil %}   
    
{% if user.is_authenticated %}
<div class="perfil">
    <a href="#">{{ user }}</a>
    <img src="{% static 'img/perfil1.png' %}" >
</div>
{% else %}
<div class="perfil">
    <a href="#">Invitado</a>
    <img src="{% static 'img/perfil1.png' %}" >
</div>
{% endif %}
    
{% endblock %} 

