{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
<style>
textarea {
width:50px;
}
</style>
{% endblock %}

{% block content %}


<div class="row">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> 
	</div>
	<div class="tec_profile col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
		<form method="POST">
			{% csrf_token %}
			<div class="htabla col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;font-size:24px"> 
			Ingresar nuevo cliente
			</div>
			<div>
				<div class="row">
					<div class="col-xs-6 col-lg-6">
						Nombre
					</div>
					<div class="col-xs-6 col-lg-6">
						{{form.nombre}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-lg-6">
						Dirección
					</div>
					<div class="col-xs-6 col-lg-6">
						{{form.direccion}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-lg-6">
						Ciudad
					</div>
					<div class="col-xs-6 col-lg-6">
						{{form.ciudad}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-lg-6">
						Comuna
					</div>
					<div class="col-xs-6 col-lg-6">
						{{form.comuna}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-lg-6">
						Teléfono
					</div>
					<div class="col-xs-6 col-lg-6">
						{{form.telefono}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-lg-6">
						Correo
					</div>
					<div class="col-xs-6 col-lg-6">
						{{form.correo}}
					</div>
				</div>
				<div class="col-xs-6 col-lg-6">
					<button type="submit" id="btnEnviar" >Ingresar</button>
				</div>
			</form>	
		</div>
	</div>
	
	
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> 

	</div>
</div>





        

	

	
{% endblock %}