{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Adoptar{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/lista.css' %}"/>
{% endblock %}
{% block content %}


{% if user.is_authenticated %}


<div class="row">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> 

	</div>
	<div class="tec_profile col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
		<div class="row htabla col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
			<div class="col-xs-2 col-lg-2">
				Cliente
			</div>
			<div class="col-xs-2 col-lg-2">
				Fecha
			</div>
			<div class="col-xs-2 col-lg-2">
				Ascensor
			</div>
			<div class="col-xs-2 col-lg-2">
				Fallas
			</div>
			<div class="col-xs-2 col-lg-2">
				Reparaciones
			</div>
			<div class="col-xs-2 col-lg-2">
				Repuestos
			</div>

		</div>
		{% for x in ordenes %}
		<div class="row hentrada col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
			<div class="col-xs-2 col-lg-2">
				{{ x.cliente }} 
			</div>
			<div class="col-xs-2 col-lg-2">
				{{ x.fecha }} ({{ x.hora_inicio }} - {{x.hora_termino}})
			</div>
			<div class="col-xs-2 col-lg-2">
				{{x.ascensor_modelo}} ({{ x.ascensor_id }})
			</div>
			<div class="col-xs-2 col-lg-2">
				{{ x.fallas }} 
			</div>
			<div class="col-xs-2 col-lg-2">
				{{ x.reparaciones }} a
			</div>
			<div class="col-xs-2 col-lg-2">
				{{x.repuestos}}
			</div>
		</div>
		{% endfor %}
	</div>
	
	
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> 

	</div>
</div>

{% endif %} 


{% endblock %}