div{
    border : solid 0px black;
}


.opciones div ul li{
    display: inline-block;
    margin-right: 5%;
}

.opciones{
   
    text-align: right;
    background-color: red;
    color: white;
    
}

#logo{
    align-content: center;
    text-align: center;
}
#logo img{
    width: 75%;
    height: auto;
}

.container{
    background-color: white;
}

#navegador{
    background-color: red;
    color: white;
    text-align: center;
    position: sticky;
    top: 0; 
}


.footer{
    background-color: grey;
    color: white;
    text-align: center;
}

.opc{
    align-content: center;
    text-align: center;
}




.perfil img{
    width: 12%;
    height: auto;
    border-radius: 100%;
    margin-left: 5%;
}

.perfil a{
    font-size: 75%;
   
}

.perfil{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}


.tec_profile{
    border-radius: 10px;
    box-shadow: 3px  3px gray;
    margin: 10px;
    border : 1px solid black;
}

.orden_item{
    border-radius: 10px;
    box-shadow: 3px  3px gray;
    margin: 10px;
    border : 1px solid black;
}


