{% load staticfiles humanize %}
<!DOCTYPE>
<HTML>        
    <head>
        <title>Mantenimiento de Ascensores - {% block title %}{% endblock %}   </title>
        <meta charset="UTF-8">          
		<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">	
		<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 		

		{% block extra_head %}{% endblock %}    
    </head>
    <body>
		<div class="container"> 
				<!--opciones de parte superior -->
			<div class="row topbar">
				<div class="logo col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<a href="{% url 'index' %}">Ascensores!</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				</div>
				<div class="perfil col-xs-12 col-sm-12 col-md-3 col-lg-3">
					{% if user.is_authenticated %}
							Hola, {{user.username}}! - <a href="{% url 'settings' %}">ajustes</a> - <a href="{% url 'logout' %}">salir</a>
					{% else %}
							<a href="{% url 'login' %}">Iniciar sesión</a>
					{% endif %}
				</div>
			</div>

			<!-- imagen/gif/carrusel 
			
			<div class="row">
				<div class="col-xs-12" id="logo" >
					<img src="{% static 'img/2.jpg' %}" >
				</div>
			</div>
			
			-->
			

			<!-- navegador-->
			{% if user.is_authenticated %}
			{% if user.is_staff and not user.is_superuser %}
			<div class="row nav">
				<div class="n1 col-xs-6 col-lg-2">
					<a href="{% url 'listado_asignaciones' %}"> Mis clientes</a>
				</div>		
				
				<div class="n1 col-xs-6 col-lg-2">
					<a href="{% url 'listado_ordenes' %}"> Consultar órdenes</a>
				</div>
			</div>
			{% else %}
			<div class="row nav">
				<div class="n1 col-xs-6 col-lg-2">						
					<a href="/admin/">Ir a panel</a>
				</div>
				<div class="n1 col-xs-6 col-lg-2">						
					<a href="{% url 'nuevo_cliente' %}">Nuevo cliente</a>
				</div>		
				<div class="n1 col-xs-6 col-lg-2">						
					<a href="/admin/Mantencion/asignacion/">Asignar clientes</a>
				</div>		
				<div class="n1 col-xs-6 col-lg-2">						
					<a href="{% url 'todas_ordenes' %}">Ver órdenes</a>
				</div>						
			</div>
			
			{% endif %}
			{% endif %}
			<!-- contenido-->
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					{% block content %}{% endblock %}

					
					
					
					
					
					
					
					
				</div>
			</div>


			<!-- footer-->
			<div class="row footer">
				<div class="col-xs-4 col-lg-3">
					trabaja con nosotros
				</div>

				<div class="col-xs-4 col-lg-3">
					contacto
				</div>

				<div class="col-xs-4 col-lg-3">
					redes sociales
				</div>

				<div class="col-xs-12 col-lg-3">
					todos los derechos reservados
				</div>
			</div>
		</div>	
			
			

</HTML>